* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: #f4f7ff;
  color: #333;
}

header {
  background: #2563EB;
  color: white;
  padding: 25px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  width: 320px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card h2 {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

button {
  width: 100%;
  padding: 12px;
  background: #2563EB;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1e4fd8;
  transform: scale(1.03);
}

.result span {
  color: #2563EB;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 12px;
  padding-top: 8rem;
  color: #888;
}
